language: node_js
node_js: stable
branches:
  only:
  - source

  # blacklist
branches:
  except:
  - dev
  - master
cache:
  yarn: true
  directories:
  - node_modules
before_install:
- openssl aes-256-cbc -K $encrypted_404f32b47bf3_key -iv $encrypted_404f32b47bf3_iv -in .travis/travis.key.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
- mv -fv .travis/ssh-config ~/.ssh/config
- git config --global user.name "Haldir65"
- git config --global user.email "mjw090608@gmail.com"
- yarn global add hexo-cli
- chmod +x .travis/deploy.sh
install:
- yarn
# - if [ ! -d "./themes/yilia" ]; git clone --depth=50 --branch=master git@github.com:litten/hexo-theme-yilia.git ./themes/yilia; fi

script:
- hexo version
- hexo clean
- hexo generate

after_success:
- .travis/deploy.sh
