language: node_js
node_js: stable
branches:
  only:
  - source
cache:
  yarn: true
  directories:
  - node_modules
  - themes
before_install:
- openssl aes-256-cbc -K $encrypted_404f32b47bf3_key -iv $encrypted_404f32b47bf3_iv -in .travis/travis.key.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
- mv -fv .travis/ssh-config ~/.ssh/config
- git config --global user.name "Haldir65"
- git config --global user.email "mjw090608@gmail.com"
- yarn global add hexo-cli
- chmod +x .travis/deploy.sh
install:
- yarn
- if [ ! -d "themes/yilia" ]; then git clone git@github.com:litten/hexo-theme-yilia.git
  themes/yilia; fi
script:
- hexo clean
- hexo generate
- hexo d
after_success:
# - .travis/deploy.sh
- echo "begin of clone static repo"
# 先 clone 再 commit，避免直接 force commit
- git clone -b master git@github.com:Haldir65/Haldir65.github.io.git .deploy_git
- cd .deploy_git
- git checkout master
- mv .git/ ../public/
- cd ../public
- git add .
# - set -ev
# - export TZ='Asia/Shanghai'
# - git commit -m \" Site auto updated: `date +"%Y-%m-%d %H:%M:%S"` \"
- git commit -m "site updated"
- hexo d
- echo "end of commit"
- git status -v
- git push origin master
- echo "end of push"
- .travis/deploy.sh
