version: '2.1'
orbs:
  node: circleci/node@5.2.0
jobs:
  install-node-example:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # install dependencies    
      - run:
          name: install dependencies
          command: sudo apt install tree -y
      - node/install:
          install-yarn: true
          node-version: '12.12'

      - run: 
          name: build project
          command: |
            node --version
            yarn --version
            bash .scripts/build_project.sh
      - run:
          name: show build outputs
          command: tree -L 5 build



workflows:
  version: 2
  build:
      jobs:
        - install-node-example:
            filters:
              branches:
                only:
                  - source                