version: 2
jobs:
  build:
    working_directory: ~/mern-starter
    docker:
      - image: circleci/node:8.11.2
    steps:
      - checkout
      - run:
          name: update-npm 
          command: 'sudo npm install -g npm@latest'
      - restore_cache: # special step to restore the dependency cache 
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - save_cache: # special step to save the dependency cache
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
  test:
    docker:
      - image: circleci/node:8.11.2
    steps:
      - checkout
      - run:
          name: update-npm 
          command: 'sudo npm install -g npm@latest'
      - run: # run tests
          name: test
          command: npm run-script test   
# workflows:
#   version: 2
#   build_and_test:
#     jobs:
#       - build
#           filters:
#             branches:
#               only: source
#       - test
#           filters:
#             branches:
#               only: source

workflows:
  version: 2
  dev_stage_pre-prod:
    jobs:
      - build:
          filters:
            branches:
              only: source
      - test:
          filters:
            branches:
              only: source