version: 2
jobs:
  build:
    working_directory: ~/mern-starter
    branches:
      only:
        - /source*/
    docker:
      - image: circleci/node:8.11.2
    steps:
      - checkout
      - run:
          name: update-npm 
          command: 'sudo npm install -g npm@latest'
      - restore_cache: # special step to restore the dependency cache 
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - save_cache: # special step to save the dependency cache
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
  test:
    docker:
      - image: circleci/node:8.11.2
    branches:
      only:
        - /source*/  
    steps:
      - checkout
      - run:
          name: update-npm 
          command: 'sudo npm install -g npm@latest'
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test